/*
 * Empty Stylesheet file.
 */
#titlePane{
    -fx-background-color: #412e20;
}
.menuItem{
    -fx-background-color: transparent;
}
.menuItem:hover{
    -fx-background-color: #caaa94
}
#notiPane{
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 30, 0.5, 0.0, 0.0);
    -fx-background-radius: 10px;
}
.notiItem{
     -fx-background-radius: 10px;
      -fx-background-color: #F5F5F5; 
      -fx-padding: 7px;
}
.notiItem:hover{
    -fx-background-color:  #ccae9a;
}
#scr{
    -fx-background-color: white;
    -fx-background-radius: 3%;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :#ffffff;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :#ffffff;
    -fx-background-radius : 0.0em;
    -fx-padding :0 0 10 0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :#ffffff;
    -fx-background-radius : 0.0em;
    -fx-padding :0 10 0 0;

}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.15em 0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0 0.15em;
}

.scroll-bar:horizontal .thumb{
    -fx-background-color :#ffffff;
    -fx-background-insets : 2, 0, 0;
    -fx-background-radius : 2em;
}
.scroll-bar:vertical .thumb{
    -fx-background-color :#eaeaea;
    -fx-background-insets : 2, 0, 0;
    -fx-background-radius : 2em;
} 

.scroll-bar:horizontal .thumb:hover{
    -fx-background-color :#ffffff;
    -fx-background-insets : 2, 0, 0;
    -fx-background-radius : 2em;
}
.scroll-bar:vertical .thumb:hover{
    -fx-background-color :#eaeaea;
    -fx-background-insets : 2, 0, 0;
    -fx-background-radius : 2em;
}
#logoutBtn{
    -fx-background-color: white;
    -fx-background-radius: 10px;
}
#logoutBtn:hover{
    -fx-background-color: #ccae9a;
    -fx-text-fill: white;
    -fx-font-weight: Bold;
}
#logoutPane{
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 30, 0.5, 0.0, 0.0);
    -fx-background-radius: 10px;
}
.table-column {
  -fx-alignment: CENTER;
}
.table-row-cell {
    -fx-cell-size: 40px;
}
