#titlePane{
    -fx-background-color: #412e20;
}
#brandLogo{
    -fx-background-color: #b18363;
    -fx-background-radius: 50px;
}

#brandLogoLabel{
    -fx-font-size: 7px;
    -fx-font-weight: bold;
}
.menuItem{
    -fx-background-color: transparent;
}
.menuItem:hover{
    -fx-background-color: #caaa94;
}
