/*
 * Empty Stylesheet file.
 */


.CustomerType-Title{
    -fx-background-color: gray;
    -fx-font-size: 20px;
}

.CustomerType-Odd-Label{
    -fx-background-color: whitesmoke;
}

.CustomerType-Even-Label{
    -fx-background-color: darkgray;
}

.CustomerType-Odd-Button{
    -fx-background-color: whitesmoke;
}

.CustomerType-Even-Button{
    -fx-background-color: darkgray;
}