/*
 * Empty Stylesheet file.
 */


.GroupBlocks-Title{
    -fx-background-color: gray;
    -fx-font-size: 20px;
}

.GroupBlocks-Odd-Label{
    -fx-background-color: whitesmoke;
}

.GroupBlocks-Even-Label{
    -fx-background-color: darkgray;
}

.GroupBlocks-Odd-Button{
    -fx-background-color: whitesmoke;
}

.GroupBlocks-Even-Button{
    -fx-background-color: darkgray;
}