/*
 * Empty Stylesheet file.
 */

.Utilities-Title{
    -fx-background-color: gray;
    -fx-font-size: 20px;
}

.Utilities-Odd-Label{
    -fx-background-color: whitesmoke;
}

.Utilities-Even-Label{
    -fx-background-color: darkgray;
}

.Utilities-Odd-Button{
    -fx-background-color: whitesmoke;
}

.Utilities-Even-Button{
    -fx-background-color: darkgray;
}