/*
 * Empty Stylesheet file.
 */

.PaymentPeriodStatus-Title{
    -fx-background-color: gray;
    -fx-font-size: 20px;
}

.PaymentPeriodStatus-Odd-Label{
    -fx-background-color: whitesmoke;
}

.PaymentPeriodStatus-Even-Label{
    -fx-background-color: darkgray;
}

.PaymentPeriodStatus-Odd-Button{
    -fx-background-color: whitesmoke;
}

.PaymentPeriodStatus-Even-Button{
    -fx-background-color: darkgray;
}