/*
 * Empty Stylesheet file.
 */

.ProjectStatus-Title{
    -fx-background-color: gray;
    -fx-font-size: 20px;
}

.ProjectStatus-Odd-Label{
    -fx-background-color: whitesmoke;
}

.ProjectStatus-Even-Label{
    -fx-background-color: darkgray;
}

.ProjectStatus-Odd-Button{
    -fx-background-color: whitesmoke;
}

.ProjectStatus-Even-Button{
    -fx-background-color: darkgray;
}