/*
 * Empty Stylesheet file.
 */


.Blocks-Title{
    -fx-background-color: gray;
    -fx-font-size: 20px;
}

.Blocks-Odd-Label{
    -fx-background-color: whitesmoke;
}

.Blocks-Even-Label{
    -fx-background-color: darkgray;
}

.Blocks-Odd-Button{
    -fx-background-color: whitesmoke;
}

.Blocks-Even-Button{
    -fx-background-color: darkgray;
}