/*
 * Empty Stylesheet file.
 */

.ProjectType-Title{
    -fx-background-color: gray;
    -fx-font-size: 20px;
}

.ProjectType-Odd-Label{
    -fx-background-color: whitesmoke;
}

.ProjectType-Even-Label{
    -fx-background-color: darkgray;
}

.ProjectType-Odd-Button{
    -fx-background-color: whitesmoke;
}

.ProjectType-Even-Button{
    -fx-background-color: darkgray;
}