/*
 * Empty Stylesheet file.
 */

.RegionStatus-Title{
    -fx-background-color: gray;
    -fx-font-size: 20px;
}

.RegionStatus-Odd-Label{
    -fx-background-color: whitesmoke;
}

.RegionStatus-Even-Label{
    -fx-background-color: darkgray;
}

.RegionStatus-Odd-Button{
    -fx-background-color: whitesmoke;
}

.RegionStatus-Even-Button{
    -fx-background-color: darkgray;
}