/*
 * Empty Stylesheet file.
 */


.B_Status-Title{
    -fx-background-color: gray;
    -fx-font-size: 20px;
}

.B_Status-Odd-Label{
    -fx-background-color: whitesmoke;
}

.B_Status-Even-Label{
    -fx-background-color: darkgray;
}

.B_Status-Odd-Button{
    -fx-background-color: whitesmoke;
}

.B_Status-Even-Button{
    -fx-background-color: darkgray;
}