/*
 * Empty Stylesheet file.
 */


.InvestorStatus-Title{
    -fx-background-color: gray;
    -fx-font-size: 20px;
}

.InvestorStatus-Odd-Label{
    -fx-background-color: whitesmoke;
}

.InvestorStatus-Even-Label{
    -fx-background-color: darkgray;
}

.InvestorStatus-Odd-Button{
    -fx-background-color: whitesmoke;
}

.InvestorStatus-Even-Button{
    -fx-background-color: darkgray;
}