/*
 * Empty Stylesheet file.
 */

.Product-Title{
    -fx-background-color: gray;
    -fx-font-size: 20px;
}

.Product-Odd-Label{
    -fx-background-color: whitesmoke;
}

.Product-Even-Label{
    -fx-background-color: darkgray;
}

.Product-Odd-Button{
    -fx-background-color: whitesmoke;
}

.Product-Even-Button{
    -fx-background-color: darkgray;
}