/*
 * Empty Stylesheet file.
 */

.ContractType-Title{
    -fx-background-color: gray;
    -fx-font-size: 20px;
}

.ContractType-Odd-Label{
    -fx-background-color: whitesmoke;
}

.ContractType-Even-Label{
    -fx-background-color: darkgray;
}

.ContractType-Odd-Button{
    -fx-background-color: whitesmoke;
}

.ContractType-Even-Button{
    -fx-background-color: darkgray;
}