/*
 * Empty Stylesheet file.
 */

.Investor-Title{
    -fx-background-color: gray;
    -fx-font-size: 20px;
}

.Investor-Odd-Label{
    -fx-background-color: whitesmoke;
}

.Investor-Even-Label{
    -fx-background-color: darkgray;
}

.Investor-Odd-Button{
    -fx-background-color: whitesmoke;
}

.Investor-Even-Button{
    -fx-background-color: darkgray;
}

.Investor-Odd-Image{
    -fx-background-color: whitesmoke;
}

.Investor-Even-Image{
    -fx-background-color: darkgray;
}