/*
 * Empty Stylesheet file.
 */

.Project-Title{
    -fx-background-color: gray;
    -fx-font-size: 20px;
}

.Project-Odd-Label{
    -fx-background-color: whitesmoke;
}

.Project-Even-Label{
    -fx-background-color: darkgray;
}

.Project-Odd-Button{
    -fx-background-color: whitesmoke;
}

.Project-Even-Button{
    -fx-background-color: darkgray;
}