/*
 * Empty Stylesheet file.
 */

.PaymentType-Title{
    -fx-background-color: gray;
    -fx-font-size: 20px;
}

.PaymentType-Odd-Label{
    -fx-background-color: whitesmoke;
}

.PaymentType-Even-Label{
    -fx-background-color: darkgray;
}

.PaymentType-Odd-Button{
    -fx-background-color: whitesmoke;
}

.PaymentType-Even-Button{
    -fx-background-color: darkgray;
}
