/*
 * Empty Stylesheet file.
 */


.Direction-Title{
    -fx-background-color: gray;
    -fx-font-size: 20px;
}

.Direction-Odd-Label{
    -fx-background-color: whitesmoke;
}

.Direction-Even-Label{
    -fx-background-color: darkgray;
}

.Direction-Odd-Button{
    -fx-background-color: whitesmoke;
}

.Direction-Even-Button{
    -fx-background-color: darkgray;
}