.Dashboard-Background{
    -fx-background-color: rgba(255, 20, 147, 0.3);
    -fx-background-radius: 8px;
}

.Dashboard-Tittle{
    -fx-font : 15px "serief";
}

.Dashboard-Content{
    -fx-font : bold 15px "serief";
}

.PaneBackground{
    -fx-background-color: rgba(0, 0, 0, 0.2);
    -fx-background-radius: 8px;
}

.Revenue-Tittle{
    -fx-font : 25px "serief";
}

.Revenue-Content{
    -fx-font : bold 25px "serief";
}
.Customer-Table-Tittle{
    -fx-font : 25px "serief";
}