/*
 * Empty Stylesheet file.
 */

.ConstructionUnit-Title{
    -fx-background-color: gray;
    -fx-font-size: 20px;
}

.ConstructionUnit-Odd-Label{
    -fx-background-color: whitesmoke;
}

.ConstructionUnit-Even-Label{
    -fx-background-color: darkgray;
}

.ConstructionUnit-Odd-Button{
    -fx-background-color: whitesmoke;
}

.ConstructionUnit-Even-Button{
    -fx-background-color: darkgray;
}