/*
 * Empty Stylesheet file.
 */


.ConstructionUnitStatus-Title{
    -fx-background-color: gray;
    -fx-font-size: 20px;
}

.ConstructionUnitStatus-Odd-Label{
    -fx-background-color: whitesmoke;
}

.ConstructionUnitStatus-Even-Label{
    -fx-background-color: darkgray;
}

.ConstructionUnitStatus-Odd-Button{
    -fx-background-color: whitesmoke;
}

.ConstructionUnitStatus-Even-Button{
    -fx-background-color: darkgray;
}