/*
 * Empty Stylesheet file.
 */

.ProductStatus-Title{
    -fx-background-color: gray;
    -fx-font-size: 20px;
}

.ProductStatus-Odd-Label{
    -fx-background-color: whitesmoke;
}

.ProductStatus-Even-Label{
    -fx-background-color: darkgray;
}

.ProductStatus-Odd-Button{
    -fx-background-color: whitesmoke;
}

.ProductStatus-Even-Button{
    -fx-background-color: darkgray;
}