/*
 * Empty Stylesheet file.
 */


.ContractStatus-Title{
    -fx-background-color: gray;
    -fx-font-size: 20px;
}

.ContractStatus-Odd-Label{
    -fx-background-color: whitesmoke;
}

.ContractStatus-Even-Label{
    -fx-background-color: darkgray;
}

.ContractStatus-Odd-Button{
    -fx-background-color: whitesmoke;
}

.ContractStatus-Even-Button{
    -fx-background-color: darkgray;
}