/*
 * Empty Stylesheet file.
 */


.Gb_Status-Title{
    -fx-background-color: gray;
    -fx-font-size: 20px;
}

.Gb_Status-Odd-Label{
    -fx-background-color: whitesmoke;
}

.Gb_Status-Even-Label{
    -fx-background-color: darkgray;
}

.Gb_Status-Odd-Button{
    -fx-background-color: whitesmoke;
}

.Gb_Status-Even-Button{
    -fx-background-color: darkgray;
}