/*
 * Empty Stylesheet file.
 */


.CustomerStatus-Title{
    -fx-background-color: gray;
    -fx-font-size: 20px;
}

.CustomerStatus-Odd-Label{
    -fx-background-color: whitesmoke;
}

.CustomerStatus-Even-Label{
    -fx-background-color: darkgray;
}

.CustomerStatus-Odd-Button{
    -fx-background-color: whitesmoke;
}

.CustomerStatus-Even-Button{
    -fx-background-color: darkgray;
}