/*
 * Empty Stylesheet file.
 */

.Region-Title{
    -fx-background-color: gray;
    -fx-font-size: 20px;
}

.Region-Odd-Label{
    -fx-background-color: whitesmoke;
}

.Region-Even-Label{
    -fx-background-color: darkgray;
}

.Region-Odd-Button{
    -fx-background-color: whitesmoke;
}

.Region-Even-Button{
    -fx-background-color: darkgray;
}