/*
 * Empty Stylesheet file.
 */
#titlePane{
    -fx-background-color: #412e20;
}
.menuItem{
    -fx-background-color: transparent;
}
.menuItem:hover{
    -fx-background-color: #caaa94
}
#notiPane{
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 30, 0.5, 0.0, 0.0);
    -fx-background-radius: 3%;
}
.notiItem{
    -fx-background-color: #cccccc;
     -fx-background-radius: 10px;
}
.notiItem:hover{
    -fx-background-color:  #ccae9a;
}
#scr{
    -fx-background-color: white;
    -fx-background-radius: 3%;

}