#titlePane{
    -fx-background-color: #412e20;
}

/*SCROLL BAR*/
.scroll-bar:horizontal,
.scroll-bar:horizontal *.increment-button,
.scroll-bar:horizontal *.decrement-button,
.scroll-bar:vertical,
.scroll-bar:vertical *.increment-button,
.scroll-bar:vertical *.decrement-button{
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}
.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
}

.scroll-pane, .scroll-pane .corner,
.scroll-bar:horizontal, .scroll-bar:horizontal .track,
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical, .scroll-bar:vertical .track,
.scroll-bar:vertical .thumb{
    -fx-background-color: transparent;
}

#logoImageWrapper{
    -fx-background-color: white;
    -fx-background-radius: 5px;
}
#investorName{
    -fx-font-size: 35px;
    -fx-font-weight: bold;
}
.statusProjectContainer{
    -fx-border: 1px solid white;
}
.statusProjectLabel{
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}
#upcomingProjectVal, #openingProjectVal, #doneProjectVal{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}
.pi_Component{
    -fx-background-color: pink;
}
.pStatus, .pSubStatus{
    -fx-background-color: #E7FFF4;
    -fx-text-fill: #07A375;
    -fx-font-size: 13px;
}
.pStatus{
    -fx-alignment: CENTER;
    -fx-font-weight: bold;
}
.pSubStatus{
    -fx-alignment: CENTER_LEFT;
}
.pName{
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
}
.productPrice, .pArea, .totalProduct, .totalBlocks{
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
}
.pLocation{
    -fx-font-size: 13px;
    -fx-alignment: CENTER_LEFT;
}
