#iComponent{
    -fx-background-color: green;
}
.investorTab{
    -fx-background-color: red;

}
/*SCROLL BAR*/
.scroll-bar:horizontal,
.scroll-bar:horizontal *.increment-button,
.scroll-bar:horizontal *.decrement-button,
.scroll-bar:vertical,
.scroll-bar:vertical *.increment-button,
.scroll-bar:vertical *.decrement-button{
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}
.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
}

.scroll-pane, .scroll-pane .corner,
.scroll-bar:horizontal, .scroll-bar:horizontal .track,
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical, .scroll-bar:vertical .track,
.scroll-bar:vertical .thumb{
    -fx-background-color: transparent;
}
